@using BlazorApp.Shared.MicroComponents
@using Entities.Model
@inject NavigationManager navMgr

<main class="main" @onclick="@Goto">
    <div class="name-and-avatar">
        <Avatar size="Avatar.Size.Medium" image="@_user.Avatar"/>
        <div class="personal-data">
            <h4 class="first-name">@_user.Name @_user.LastName</h4>
            <p>@_user.Email</p>
        </div>
    </div>
    <div class="status">
        <ToolTip Text="@_user.Status.ToString()" Pos="ToolTip.Position.Left">
            <span class="iconify @_user.Status" data-icon="fa:dot-circle-o" data-width="24"></span>
        </ToolTip>
    </div>
</main>

@code {
    [Parameter]
    public User _user { get; set; }

    public void Goto() {
        navMgr.NavigateTo($"/Chat/{_user.Email}", true);
    }
}