@using Entities.Model
@using BlazorApp.Shared.MicroComponents

<main class="main-component" onmouseover="@MouseEnter" onmouseleave="@MouseLeft">
    <div class="left-half">
        @* <div class="avatar"><Avatar size="Avatar.Size.Medium" image="@_message.Header.Recipient.Avatar"/></div> *@
        <div class="name-and-message">
            @* <p class="nickname">@_message.Header.Recipient.Name</p> *@
            <p class="message">gjd</p>
        </div>
    </div>
    <div class="date-and-time">
        @* <div class="date">@string.Format("{0:hh:mm tt}", _message.Header.Created)</div> *@
        <div class="circle @(mouse ? "drop" : "new")">
            @if (mouse) {
                <ToolTip Text="Close" Pos="ToolTip.Position.Left">
                    <div><span class="iconify" data-icon="ep:arrow-down"></span></div>
                </ToolTip>
            }
            else {
                <div><span>1</span></div>
            }
        </div>
    </div>
</main>

@code {

    public Message? _message { get; set; } = new Message(new User("d", "s", "asd", "asd"), new User("sd", "sd,", "Asd", "asd"), "thas js a");

    List<string> items = new List<string>() {"Archive chat", "Mute Notifications", "Delete Chat", "Pin chat", "Mark as unread"};

    private string premessage;

    private bool mouse = false;
    
    protected override async Task OnInitializedAsync() {
       // premessage = _message.Body.Substring(0, 27) + "...";
    }

    private void MouseEnter() {
        mouse = true;
    }

    private void MouseLeft() {
        mouse = false;
    }

}
