@using BlazorApp.Shared.MicroComponents
@using Entities.Model
@inject NavigationManager NavMgr

<main class="main" @onclick="@(() => { SelectUser?.Invoke(User.Email); ChangePanel?.Invoke(Panel.Starter); })">
    @* <main class="main"> *@
    <div class="name-and-avatar">
        <Avatar size="Avatar.Size.Medium" image="@User.Avatar"/>
        <div class="personal-data">
            <h4 class="first-name">@User.Name</h4>
            <p>@User.Email</p>
        </div>
    </div>
    <div class="status">
        <ToolTip Text="@User.Status.ToString()" Pos="ToolTip.Position.Left">
            <span class="iconify @User.Status" data-icon="fa:dot-circle-o" data-width="24"></span>
        </ToolTip>
    </div>
</main>

@code {
    [Parameter] public User User { get; set; }
    
    [CascadingParameter] public Action<Panel>? ChangePanel { get; set; } 
    
    [CascadingParameter] protected Action<String>? SelectUser {get; set; }
    
}